name: Deploy GH Pages (dev + run archive)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Prepare RUN_ID
        id: runid
        run: echo "RUN_ID=$(date +%s)" >> $GITHUB_ENV

      - name: Prepare publish content
        run: |
          # create small temp folder containing index.html to publish
          mkdir -p publish_tmp
          cp index.html publish_tmp/

      - name: Prepare gh-pages branch
        run: |
          set -euo pipefail
          mv publish_tmp /tmp/report
          git clean -fdx
          git checkout gh-pages
          git checkout --orphan temp-gh-pages
          git branch -D gh-pages || true
          git reset

          all_run_ids=$(ls -1d [0-9]* | sort -n)

          # Get the last 5 run IDs
          last5=$(echo "$all_run_ids" | tail -5)

          # Determine old run IDs to delete
          old_run_ids=$(comm -23 <(echo "$all_run_ids") <(echo "$last5"))

          # Delete only old run ID directories
          for d in $old_run_ids; do
              rm -rf "$d"
          done

          rm -rf dev/
          mv /tmp/report dev
          cp -r dev "${GITHUB_RUN_ID}/"

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add dev $last5

          git commit -m "Clean gh-pages: keep last 5 run folders + dev"
          git branch -m gh-pages
          git push origin gh-pages --force


      # - name: Publish latest to dev (gh-pages/dev)
      #   uses: peaceiris/actions-gh-pages@v4
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: publish_tmp
      #     destination_dir: dev
      #     # keep_files: true not required when publishing to a subdir,
      #     # action will update the subdir; other files remain untouched
      #     keep_files: false

      # - name: Publish snapshot to RUN_ID (archive)
      #   uses: peaceiris/actions-gh-pages@v4
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: publish_tmp
      #     destination_dir: ${{ github.run_id }}
      #     keep_files: false

      